## #1 Figure out how to print the current date and time. 
The solution should be in this format:  2021-08-05 11:56:30 (YYYY-MM-DD HH:MM:SS)

Hint:  You're going to have to import a library

In [6]:
import datetime
print(datetime.datetime.now())

2022-08-15 02:31:40.660453

## #2 Write a function that accepts the radius of a circle and returns the area of a circle.  
The function for the area of a circle is pi * radius squared.

In [35]:
import math 

def area_of_circle(radius):
    if radius > 0:
        area = math.pi*(radius ** 2)
        print("The area of the circle that has the %s radius is" %radius,area)
    else:
        print("This radius is invalid!")
area_of_circle(1)

The area of the circle that has the 1 radius is 3.141592653589793

## #3 Write a function that takes a list of numbers and returns True of all number in the list are unique and returns False if the list contains duplicate numbers. 
* Hint, maybe think of using a set()

Input:  input_list = [2,4,5,5,7,9]

Expected Output:  False

In [40]:
def duplicated_check(input_list):
    if input_list == sorted(set(input_list)):
        return True
    else:
        return False
input_list = [2,4,5,5,7,9]
duplicated_check(input_list)

False

## #4 Write a Python program to count the number of each character of a given text of a text file.
* Use the text file called 'lil-wayne.txt' in the data folder.  
* Convert all the characters to uppercase first, then count them.  
* Use a dictionary in which the keys of the dictionary are the characters, and the values are the counts of that character. 

Expected Result:  `{'D': 74, 'W': 63, 'A': 211, 'Y': 44, 'N': 165, 'E': 274, ' ': 522, 'M': 77, 'I': 185, 'C': 60, 'H': 122, 'L': 126, 'R': 152, 'T': 180, 'J': 8, '.': 26, '(': 12, 'B': 59, 'O': 145, 'S': 152, 'P': 39, '2': 24, '7': 7, ',': 37, '1': 28, '9': 16, '8': 6, ')': 12, '[': 14, ']': 14, 'K': 13, 'F': 44, 'G': 53, 'X': 5, 'U': 66, 'V': 20, '3': 2, '4': 4, '5': 5, '6': 3, '0': 36, '\n': 6, '-': 6, ';': 1, '!': 1, '"': 8, "'": 3, '—': 1}`

In [52]:
file = open("lil-wayne.txt", "r")
data = file.read()
file.close()

count = {}
for cha in data:
    cha = cha.capitalize()
    if cha in count:
        count[cha] += 1
    else:
        count[cha] = 1
print(count)

{'C': 60, 'E': 274, 'G': 53, '.': 26, 'H': 122, 'B': 59, 'N': 165, 'Y': 44, '7': 7, ']': 14, '0': 36, 'W': 63, 'A': 211, 'U': 66, '!': 1, '3': 2, '9': 16, 'F': 44, '2': 24, '-': 6, 'O': 145, '—': 1, '4': 4, 'X': 5, 'K': 13, 'S': 152, ',': 37, 'J': 8, '[': 14, 'R': 152, 'P': 39, 'I': 185, '1': 28, '\n': 6, '6': 3, ';': 1, 'T': 180, '5': 5, 'L': 126, 'M': 77, ')': 12, 'V': 20, 'D': 74, ' ': 522, '8': 6, '(': 12}

# 4.5 Figure out how to sort the dictionary to find which character appears the most.

In [54]:
sorted(count.items(), key =lambda item:item[1], reverse = True)

[(' ', 522),
 ('E', 274),
 ('A', 211),
 ('I', 185),
 ('T', 180),
 ('N', 165),
 ('S', 152),
 ('R', 152),
 ('O', 145),
 ('L', 126),
 ('H', 122),
 ('M', 77),
 ('D', 74),
 ('U', 66),
 ('W', 63),
 ('C', 60),
 ('B', 59),
 ('G', 53),
 ('Y', 44),
 ('F', 44),
 ('P', 39),
 (',', 37),
 ('0', 36),
 ('1', 28),
 ('.', 26),
 ('2', 24),
 ('V', 20),
 ('9', 16),
 (']', 14),
 ('[', 14),
 ('K', 13),
 (')', 12),
 ('(', 12),
 ('J', 8),
 ('7', 7),
 ('-', 6),
 ('\n', 6),
 ('8', 6),
 ('X', 5),
 ('5', 5),
 ('4', 4),
 ('6', 3),
 ('3', 2),
 ('!', 1),
 ('—', 1),
 (';', 1)]

## #5 Using the list below...
* Remove the fourth number from the list.
* Take that number you just removed and multiply the last number of the list by that number. 
* Append that number to the end of the list.
* Print the list

INPUT: [1, 1, 2, 3, 5, 8, 13, 21]

EXPECTED OUTPUT:  [1, 1, 2, 5, 8, 13, 21, 63]

In [62]:
list1 = [1, 1, 2, 3, 5, 8, 13, 21]
removed_num = list1.pop(3)
mul_num = removed_num * list1[-1]
list1.append(mul_num)
print(list1)

[1, 1, 2, 5, 8, 13, 21, 63]

## #6 Using the list below, make a new list that contains only the numbers from the original list that are divisible by three.

* Input:  original_list = [2, 3, 6, 8, 9, 15, 19, 21]
* Expected new list:  [3, 6, 9, 15, 21]

In [64]:
original_list = [2, 3, 6, 8, 9, 15, 19, 21]
new_list = []
for item in original_list:
    if item % 3 == 0:
        new_list.append(item)
print(new_list)

[3, 6, 9, 15, 21]

## #7 Reverse the list below

In [75]:
original_list = [2, 3, 6, 8, 9, 15, 19, 21]

original_list.reverse()

## #8 Using the list below, turn every item of the list into its square.  
* Input original_list = [1, 2, 3, 4, 5, 6, 7]
* Expected new_list:  [1, 4, 9, 16, 25, 36, 49]

In [76]:
original_list = [1, 2, 3, 4, 5, 6, 7]
new_list = [item**2 for item in original_list]
print(new_list)

[1, 4, 9, 16, 25, 36, 49]

## #9  Given a two Python list. Iterate both lists simultaneously such that list1 should display item in original order and list2 in reverse order.
Given input:
```
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
```

Expected Output:
```
10 400
20 300
30 200
40 100
```

In [86]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
for i in range(len(list1)):
    x = list1[i]
    y = list2[len(list2)-1-i]
    print(x,y)

10 400
20 300
30 200
40 100

## #10 Remove empty strings from the list of strings.
Input:  `list_of_strings = ['I', 'love', '', '', 'data', '', 'science', '!']`

Expected Output:  `['I', 'love', 'data', 'science', '!']`

In [100]:
list_of_strings = ['I', 'love', '', '', 'data', '', 'science', '!']
no_empty_string = [string for string in list_of_strings if string != ""]
print(no_empty_string)

['I', 'love', 'data', 'science', '!']

##  #11 Check if the value 999 exists in the dicitionary below.  If so, print true, if not print false.

Input: sample_dict = {'a': 100, 'b': 999, 'c': 300}

Expected Output:  True

In [107]:
sample_dict = {'a': 100, 'b': 999, 'c': 300}
999 in (sample_dict.values())

True

# Extra Credit

## Using pandas, read the csv file in the data folder called `titianic.csv` and store it as a variable named `df`.

In [109]:
import pandas as pd
data = pd.read_csv("titanic.csv")
data.head()

,passengerid,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## I know we didn't cover this, but figure out how to find the mean age of the age column in your dataframe.

In [121]:
data["age"].mean()

29.69911764705882

## What was the oldest and youngest ages on the titanic?

In [116]:
youngest = data["age"].min()
oldest = data["age"].max()
print("The oldest person on the titanic is %s and the youngest is" %oldest, youngest)

The oldest person on the titanic is 80.0 and the youngest is 0.42

## How many people embarked from station 'S'?

In [139]:
embarked_s = data["embarked"] == "S"
len(data[embarked_s])

644